<%- include('../includes/head') %>
<link rel="stylesheet" href="css/profile.css">
</head>
<body>

        <div class="profile_main" id="main">
            <div class="top-menu">
                <img src="images/logo_grey.svg" alt="logo">
                <button onclick="show_hide()" class="button"><img src="images/profile_av.svg" alt="avatar_icon">&nbsp;<p><%= user.username %></p>&nbsp;<img src="images/arrow.svg" alt="dropdown_arrow"></button>
                <div id="log_out" style="display: none"><a href="/logout">Log Out</a></div>
            </div>
            <div class="left_bar">
                <div class="icons">
                    <a href="/"><img src="images/home.svg" alt="home_icon"></a>
                    <a href="/profile"><img src="images/profile.svg" alt="profile_icon"></a>
                    <a href="/"><img src="images/Community.svg" alt="Community_icon"></a>
                </div>
                <div class="words">
                    <a href="/">HOME</a>
                    <a href="/profile">PROFILE</a>
                    <a href="/">COMMUNITY</a>
                </div>
            </div>
            <div class="content">
                <div class="middle_bar">
                    <div class="profile_info">
                            <img src="images/profile_av.svg" alt="profile_picture">
                            <p style="font-weight: 600;" class="username"><%= user.username %></p>
                            <button class="edit" onclick="edit_form()" id="button_edit">Edit Profile</button>
                    </div>
                    <div class="card">
                    <% card.forEach((card) => { %>
                        <div class="each_card">
                            <h2><%= user.username %></h2>
                            <p><%= card.description %></p>
                            <p style="font-weight: 600;"><%= card.likes %> Likes <img src="images/like.svg"></p>
                            <div>
                                <button class="edit_delete" onclick="edit_post('<%= card._id %>')">Edit Post</button>
                                <button class="edit_delete" onclick="delete_post('<%= card._id %>')" id="delete_bttn">Delete Post</button>
                            </div>
                        </div>
                        <form class="edit_post" id="<%= card._id %>" action="/api/cards/<%=card._id %>" method="PUT" style="display: none;">
                            <input type="hidden" name="_method" value="PUT">
                            <input type="text" id="title" name="title" value="<%= card.title %>">
                             <br>
                             <input type="text" id="title" name="title" value="<%= card.description %>">
                            <br>
                            <button type="submit" class="edit">EDIT</button>
                        </form>
                        <button onclick="close_Form_Post('<%= card._id %>')" id="bttn<%= card._id %>" style="display: none;"></button>
                    <% }) %>
                    </div>
                </div>
                <div class="right_bar">
                    <div class="void"></div>
                    <p>Trending Community</p>
                    <div class="trending_community">
                        <% trending.slice(0, 5).forEach(function(topic) { %>
                            <div class="each_topic">
                                <img src="<%= topic.icon %>" alt="Icon Image">
                                <p><%= topic.title %></p>
                            </div>
                          <% }); %>
                    </div>
                </div>
            </div>
        </div>
        <form class="edit_form" id="edit_form" action="/api/users/<%=user._id %>" method="PUT" style="display: none;">
            <input type="hidden" name="_method" value="PUT">
            <input type="password" id="password" name="password" placeholder="NEW PASSWORD">
             <br>
            <br>
            <button type="submit" class="edit">EDIT</button>
        </form>
        <button onclick="close_Form()" id="close"></button>
        
</body>

<script>
    function show_hide() {
      let click = document.getElementById("log_out");
      if (click.style.display === "none") {
        click.classList.remove("slide-out");
         click.classList.add("slide-in");
         click.style.display = "block";
      } else {
         click.classList.remove("slide-in");
         click.classList.add("slide-out");
         click.addEventListener("animationend", function () {
            click.style.display = "none";
            
            }, { once: true });
      }
   }
   function edit_form() {
    let click = document.getElementById("edit_form")
    let background = document.getElementById("close")
    let main = document.getElementById("main")

        background.style.display = "block"
        click.classList.remove("slide-out");
        click.classList.add("slide-in");
        main.style.filter = "blur(20px)"
        click.style.display = "flex";
   }
   function close_Form(){

    let click = document.getElementById("edit_form")
    let main = document.getElementById("main")
    let background = document.getElementById("close")

         click.classList.remove("slide-in");
         click.classList.add("slide-out");
         click.addEventListener("animationend", function () {
            background.style.display = "none"
            click.style.display = "none";
            main.style.filter = "blur(0px)"
            }, { once: true });
   }
   async function delete_post(card_id) {

        try{
            data = await fetch("/api/cards/"+card_id, {method: 'delete'})
        }
        catch(error){
            console.log(error)
        }

        location.reload();
      }

function edit_post(card_id){
    let click = document.getElementById(card_id)
    let background = document.getElementById("bttn"+card_id)
    let main = document.getElementById("main")
    let body = document.body
        body.insertBefore(click, main);
        body.insertBefore(background, main)

        background.style.position = "fixed"
        background.style.display = "block"
        background.style.left = 0
        background.style.right = 0
        background.style.top = 0
        background.style.bottom = 0
        background.style.opacity = 0
        background.style.zIndex = 100

        click.classList.remove("slide-out");
        click.classList.add("slide-in");
        main.style.filter = "blur(20px)"
        click.style.display = "flex";
}

function close_Form_Post(card_id){

let click = document.getElementById(card_id)
let main = document.getElementById("main")
let background = document.getElementById("bttn"+card_id)
console.log(card_id)

     click.classList.remove("slide-in");
     click.classList.add("slide-out");
     click.addEventListener("animationend", function () {
        background.style.display = "none"
        click.style.display = "none";
        main.style.filter = "blur(0px)"
        }, { once: true });
}
</script>