<%- include('../includes/head') %>
<link rel="stylesheet" href="css/profile.css">
</head>
<body>

        <div class="profile_main" id="background">
            <div class="top-menu">
                <img src="images/logo_grey.svg" alt="logo">
                <button onclick="show_hide()" class="button"><%= user.username %>&nbsp;&nbsp;˅</button>
                <div id="log_out" style="display: none"><a href="#">Log Out</a></div>
            </div>
            <div class="sidebar">
                <a href="/"><img src="images/home.svg" alt="home_icon"></a>
                <a href="/profile"><img src="images/profile.svg" src="profile_icon"></a>
                <a href="/"><img src="images/Community.svg" src="community_icon"></a>
            </div>
            <div class="content">
                <div>
                    <%= user.username %>
                </div>
                <div class="card">
                    <% card.forEach((card) => { %>
                        <div>
                        <h2><%= card.title %></h2>
                        <p><%= card.description %></p>
                        <p>Likes: <%= card.likes %></p>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>

</body>

<script>
    function show_hide() {
      let click = document.getElementById("log_out");

      if (click.style.display === "none") {
        click.classList.remove("slide-out");
         click.classList.add("slide-in");
         click.style.display = "block";
      } else {
         click.classList.remove("slide-in");
         click.classList.add("slide-out");
         click.addEventListener("animationend", function () {
            click.style.display = "none";
            }, { once: true });
      }
   }
</script>