<%- include('../includes/head') %>
<link rel="stylesheet" href="/css/card_page.css">

<body>
    <%- include('../includes/header') %>

    <main>
        <div class="wrapper">
            <div class="topics">
                <p class="topics-title">Trending community</p>
                <div class="separator"></div>
        
                <% for (let topic of topics) { %>
                <div class="topic">
                  <div class="topic-icon"><img src="/icons/Frame.png" alt="robot icon"></div>
                  <div class="topic-desc">
                    <div class="topic-desc__name"><%= topic.title %></div>
                  </div>
                </div>
                <% } %>
              </div>

              <div class="card">
                <div class="card-intro">
                    <div class="topic-icon"><img src="<%= topic.icon %>" alt="icon"></div>
                    <div class="card-intro-description">
                        <a href="/t/<%= topic._id %>" class="card-topic">/<%= topic.title %></a>
                        <span class="card-user">by <%= user.username %> * <%= card.date %></span>
                    </div>
                </div>
                <div class="card-body">
                    <h1 class="card-title"><%= card.title %></h1>
                    <div class="card-text">
                        <%= card.description %>
                    </div>
                    <div class="card-likes">
                        <p class="card-likes__counter"><%= card.likes %></p>
                        <a href=""><img src="../icons/like.png" alt=""></a>
                    </div>
                </div>
                <div class="card-comments">
                    <% if(session.logged_user){ %>
                        <div class="comment-add">
                            <div class="comment-add-intro">
                                <p>Comment as </p>
                                <a href="" ><%= session.logged_user.username %></a>
                            </div>
                            <textarea name="text" id="" cols="30" rows="10" form="comment-form"></textarea>
                            <form action="" method="post" name="comment-form" id="comment-form">
                                <input type="hidden" name="id" value="<%= session.logged_user.id %>">
                                <input class="" type="submit" placeholder="Add comment">
                            </form>
                        </div>
                    <% } %>
                    <% if(usernames.length > 0){ %>
                        <% for(var i = usernames.length -1; i >= 0; i--) { %>
                            <div class="comment">
                                <% if(usernames[i][0] === null){ %>
                                    <p class="comment-user">[[DELETED]]</p>
                                <% } else { %>
                                    <a href="" class="comment-user"><%= usernames[i][0].username %></a>
                                <% } %>
                                <p class="comment-text"><%= usernames[i][1].text %></p>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div class="no-comments">No comments here yet</div>
                    <% } %>
                </div>
              </div>

        </div>
        
    </main>
</body>
