<%- include('includes/head') %>
<link rel="stylesheet" href="css/card.css">
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <div class="wrapper">
      <div class="topics">
        <p class="topics-title">Trending community</p>
        <div class="separator"></div>

        <% for (let topic of topics) { %>
        <a class="topic" href="/<%= topic._id %>">
          <div class="topic-icon"><img src="<%= topic.icon %>" alt="robot icon"></div>
          <div class="topic-desc">
            <div class="topic-desc__name"><%= topic.title %></div>
          </div>
        </a>
        <% } %>
      </div>
      <div>
        <form class="add-post" action="/add-card" method="POST">
          <input type="hidden" value="" name="productId">
          <label for="name">Title:</label>
          <input class="add-post__input" type="text" id="title" name="title" required>
          <label for="message">Description:</label>
          <textarea class="add-post__input" id="description" name="description" rows="4" required></textarea>
          <button class="btn btn-add-card" type="submit">Add a post</button>
        </form>
        <% if (cds.length > 0){ %>
        <div class="grid">
          <% for (let card of cds) { %>
          <article class="card product-item">
            <header class="card__header">
              <img src="/images/avatar1.png" alt="">
              <h2 class="product__title">
                c/<%= card.title %>
              </h2>
            </header>
            <div class="card__posted">Posted <%= card.date %></div>
            <p class="card__descr">
              <%= card.description %>
              <%= card.topics %>

            </p>
            <div class="separator"></div>

            <div class="card-actions">
              <a href=""><img src="icons/like.png" alt=""></a>
              <p class="card-actions__counter"><%= card.likes %> Likes</p>
              <a class="card-actions__counter" href="/c/<%= card._id %>"><img src="/icons/Vector.png" alt=""></a>
              <p class="card-actions__counter">423 Comments</p>
            </div>
            <div class="card-actions">

            </div>
          </article>
          <% } %>
        </div>
        <% } else { %>
        <h1>No cards</h1>
        <% } %>
      </div>

    </div>

  </main>

</body>

</html>