<%- include('includes/head') %>
<link rel="stylesheet" href="/css/card.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <div class="wrapper">
      <div class="topics">
        <p class="topics-title">Trending community</p>
        <div class="separator"></div>

        <% for (let topic of topics) { %>
        <a class="topic" href="/t/<%= topic._id %>">
          <div class="topic-icon"><img src="<%= topic.icon %>" alt="robot icon"></div>
          <div class="topic-desc">
            <div class="topic-desc__name"><%= topic.title %></div>
          </div>
        </a>
        <% } %>
      </div>
      <div>
        <% if(topic_set && session.logged_user){ %>
          <form action="" method="post" name="card_form" id="card_form" class="add-post" >
            <input type="hidden" name="not_important"  value="">
            <label for="name">Title:</label>
            <input class="add-post__input" type="text" id="title" name="title" required>
            <label for="message">Description:</label>
            <input type="text" class="add-post__input" id="description" name="description" rows="4" required>
            <input type="hidden" name="user_id" value="<%= session.logged_user._id %>">
            <input type="hidden" name="topic_id" value="<%= topic_id %>">
            <input class="btn btn-add-card" type="submit" placeholder="Add a post">
          </form>
          <script>
            $(document).ready(function() {
              $('#card_form').submit(function(event) {
                event.preventDefault();
        
                var formData = $(this).serialize();

                $.ajax({
                  type: 'POST',
                  url: '/api/cards',
                  data: JSON.stringify(formData),
                  success: function(response) {
                    
                    location.reload();
                    
                  },
                  error: function(jqXHR, textStatus, errorThrown) {}
                  });
              });
            });
          </script>
        <% } %>
        <% if (cds.length > 0){ %>
        <div class="grid">
          <% for (let card of cds) { %>
          <article class="card product-item">
            <header class="card__header">
              <img src="/images/avatar1.png" alt="">
              <h2 class="product__title">
                c/<%= card.title %>
              </h2>
            </header>
            <div class="card__posted">Posted <%= card.date %></div>
            <p class="card__descr">
              <%= card.description %>
              <%= card.topics %>

            </p>
            <div class="separator"></div>

            <div class="card-actions">
              <a href=""><img src="/icons/like.png" alt=""></a>
              <p class="card-actions__counter"><%= card.likes %> Likes</p>
              <a class="card-actions__counter" href="/c/<%= card._id %>"><img src="/icons/Vector.png" alt=""></a>
              <p class="card-actions__counter">423 Comments</p>
            </div>
            <div class="card-actions">

            </div>
          </article>
          <% } %>
        </div>
        <% } else { %>
        <h1>No cards</h1>
        <% } %>
      </div>

    </div>

  </main>

</body>

</html>