<%- include('includes/head') %>
<link rel="stylesheet" href="css/card.css">
</head>

<body>
  <%- include('includes/header') %>
  <main>
    <h1>List of posts on topic: "ALL"</h1>
    <% if (cds.length > 0){ %>
    <div class="grid">
      <% for (let card of cds) { %>
      <article class="card product-item">
        <header class="card__header">
          <h2 class="product__title">
            <%= card.title %>
          </h2>
        </header>
        <div class="card__image">
          <img src="<%= card.imageUrl %>" alt="A Book">
        </div>
        <div class="card__content">
          <h3 class="product__price"><%= card.description %></h3>
        </div>
        <div>
          <p class="product__description"><%= card.date %></p>
          <div>
            <button href="/"><img src="icons/like.png" alt="like"></button>
            <p><%= card.likes %></p>
            </p>
          </div>
        </div>
        <div class=" card__actions">
          <button class="btn">Comment</button>
        </div>
        <div class="card__actions">
          <a href="/edit-card/<%= card._id %>?edit=true" class="btn">Edit</a>
          <form action="/delete-card" method="POST">
            <input type="hidden" value="<%= card._id %>" name="cardId">
            <button class="btn" type="submit">Delete</button>
          </form>

        </div>
      </article>
      <% } %>
    </div>
    <% } else { %>
    <h1>No cards</h1>
    <% } %>
  </main>

</body>

</html>